:root {
  --primary: #0f7b85;
  --background: #ffffff;
  --text: #000000;
  --font-family-base: 'Arial', sans-serif;
}

/* Simple reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  line-height: 1.4;
  background: var(--background);
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER START */
header {
  padding: 20px 20px 40px 20px;
  display: flex;
  justify-content: space-between;
}

header .header-img {
  width: 240px;
  object-fit: contain;
}
/* HEADER END */

/* HEADER CONTENT START */
.full-width-container {
  position: relative;
  width: 100%;
  /* background: var(--primary); */
}

.full-width-container .bg-img {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.header-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  letter-spacing: -0.02em;
  color: var(--background);
  text-align: center;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--background);
  text-align: center;
}

/* HEADER CONTENT END */

/* CONTENT BLOCK START */
main {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 1200px;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insights-page-main {
  padding-left: 3rem;
  padding-right: 3rem;
}

.content-block {
  margin-bottom: 1rem;
}

.content-block p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: var(--text);
}

.content-block .colored-title {
  font-size: 1.125rem;
  color: var(--primary);
}

.content-block .explore-block {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.content-block .explore-block p {
  max-width: 50%;
  font-size: 1.125rem;
  color: var(--primary);
}

.explore-button button {
  background: var(--primary);
  color: var(--background);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.iframe-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0.5rem;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border: var(--primary) 1px solid;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.iframe-wrapper-error {
  margin-top: 1rem;
  font-weight: 600;
  color: var(--text);
  display: none;
}

.home-page-link-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.home-page-link-container a {
  cursor: pointer;
  text-decoration: underline;
  color: #8a8a8a;
}

/* CONTENT BLOCK END */

/* FOOTER BLOCK START */
footer {
  background: var(--primary);
  color: var(--background);
  padding: 1rem 1rem;
  font-size: 0.95rem;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

footer .footer-container .footer-left p {
  margin-left: 100px;
}

footer .footer-container .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .footer-container img {
  width: 240px;
  object-fit: contain;
}

footer .footer-contact {
  margin-bottom: 1rem;
}

footer .footer-contact a {
  display: block;
  color: var(--background);
}
/* FOOTER BLOCK END */

@media (max-width: 1024px) {
  header .header-img,
  footer .footer-container img {
    width: 200px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .content-block p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .insights-page-main {
    padding: 1.5rem;
  }

  .content-block .explore-block .explore-button button {
    padding: 0.6rem 1.4rem;
  }

  footer .footer-container .footer-left p {
    margin-left: 60px;
  }
}

@media (max-width: 640px) {
  header .header-img {
    width: 140px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .content-block p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .content-block .explore-block {
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }

  .content-block .explore-block p {
    min-width: 100%;
  }

  .iframe-wrapper-error {
    display: block;
  }

  footer .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .footer-container .footer-left p {
    margin-left: 0px;
  }

  footer .footer-container img {
    width: 240px;
  }
}
