:root {
  --primary: #0f7b85;
  --background: #ffffff;
  --text: #000000;
  --font-family-base: 'Arial', sans-serif;
}

/* Simple reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: var(--font-family-base);
  line-height: 1.4;
  background: var(--background);
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-width-container {
  width: 100%;
  background: var(--primary);
}

/* HEADER START */
header {
  padding: 20px 20px 40px 20px;
  display: flex;
  justify-content: space-between;
}

header .header-img {
  width: 240px;
  object-fit: contain;
}
/* HEADER END */

/* HEADER CONTENT START */
.header-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  letter-spacing: -0.02em;
  color: var(--background);
  text-align: center;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--background);
  text-align: center;
}

/* HEADER CONTENT END */

/* CONTENT BLOCK START */
main {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-block {
  margin-bottom: 1rem;
}

.content-block p {
  font-size: 1.1rem;
  margin-bottom: 1.4rem;
  color: var(--text);
}

.iframe-wrapper {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.iframe-wrapper-error {
  margin-top: 1rem;
  font-weight: 600;
  color: red;
  display: none;
}
/* CONTENT BLOCK END */

/* FOOTER BLOCK START */
footer {
  background: var(--primary);
  color: var(--background);
  padding: 1rem 1rem;
  font-size: 0.95rem;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

footer .footer-container .footer-left p {
  margin-left: 100px;
}

footer .footer-container .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .footer-container img {
  width: 240px;
  object-fit: contain;
}

footer .footer-contact {
  margin-bottom: 1rem;
}

footer .footer-contact a {
  display: block;
  color: var(--background);
}
/* FOOTER BLOCK END */

@media (max-width: 1024px) {
  header .header-img,
  footer .footer-container img {
    width: 200px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .content-block p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  footer .footer-container .footer-left p {
    margin-left: 60px;
  }
}

@media (max-width: 640px) {
  header .header-img {
    width: 140px;
  }

  h1 {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .content-block p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .iframe-wrapper-error {
    display: block;
  }

  footer .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .footer-container .footer-left p {
    margin-left: 60px;
  }

  footer .footer-container img {
    width: 240px;
  }
}
